rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/resumes/{resumeId}/{fileName} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null && request.auth.uid == userId;
      allow create, update: if request.auth != null
        && request.auth.uid == userId
        && fileName == 'resume.pdf'
        && request.resource.size < 8 * 1024 * 1024
        && request.resource.contentType == 'application/pdf';
    }
  }
}
